lr=0.001
lr_stepsize=100
epochs=10
eval_interval=5
lr_gamma=0.3
save_path=../results/stack_sceneflow_disp_w1_grids_96
datapath=../src/dataset/
split_train=../split/train.txt
split_val=../split/subval.txt
btrain=8
bval=4
arch=stackhourglass_volume
dataset=sceneflow
data_type=disparity
losswise_tag=sceneflow_disp_w1_grids_96
down=2
api_key=<api-key>